html, body {
  overflow-y: auto;
  height: calc(100% - 45px);
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

button {
  border-radius: var(--web-ui_button-border-radius,12px);
  font-size: 16px;
  padding: 8px;
  margin: 3px;
  font-weight: 500;
  border-color: gray;
  min-width: 55px;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "side1 header side2"
    "side1 word-bank side2"
    "side1 drop-area side2"
    "side1 footer side2";
  position: relative; /* add position:relative to the grid container */
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-botom: 2px solid lightgray;
}

.side1 {
  grid-area: side1;
}

.side2 {
  grid-area: side2;
}

.title {
  grid-area: title;
}

.logo {
  grid-area: logo;
}

.logo img {
  height: auto;
  /*background-color: lightgray;*/
  border-radius: var(--web-ui_button-border-radius,12px);
  max-height: 68px;
  max-width: 100%;
}

.menu-button {
  grid-area: menu-button;
}

.menu-button img {
  height: auto;
  max-height: 48px;
  max-width: 100%;
}

.verse {
  grid-area: verse;
}

.drop-area {
  grid-area: drop-area;
  display: grid;
  grid-template-rows: auto;
  border-top: 6px solid lightgray;
  padding-top: 10px;
}

#word-bank {
  grid-area: word-bank;
  justify-content: center;
  align-items: baseline;
  vertical-align: top;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#input-box {
  border-radius: var(--web-ui_button-border-radius,12px);
  font-size: 16px;
  padding: 11px;
  margin: 4px;
  font-weight: 500;
  border-color: gray;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-top: 2px solid lightgray;
}

.side-bottom {
  flex: 1;
}

.check-area {
  flex: 2;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.check-area button {
  background-color: #40cc02;
  color: white;
  font-weight: bold;
}

#check-results {
  text-align: center;
  font-size: 14px;
}

.result-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.result-box p {
  margin: 0;
}

.result-box button {
  margin-left: 10px;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: pink;
}

@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: 1fr minmax(768px, 1fr) 1fr;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "word-bank"
      "drop-area"
      "footer"
  }
  .side-bottom {
    flex: 0;
  }
}

@media (max-width: 595px) {
  button {
    font-size: 15px;
    padding: 6px;
  }
}

@media (max-width: 400px) {
  button {
    font-size: 12px;
    padding: 5px;
  }
}
